* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #dde1e7;
}

.container {
	width: 60%;
}

.container .wrapper {
	min-width: 750px;
	max-width: 1000px;
	border-radius: 10px;
	background: #dde1e7;
	padding: 20px;
	box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.wrapper .keys {
	display: flex;
	justify-content: center;
}

.keys input {
	height: 50px;
	min-width: 50px;
	border-radius: 5px;
	padding: 10px;
	border: none;
	outline: none;
	margin: 10px;
	text-transform: uppercase;
	background: #dde1e7;
	color: grey;
	font-size: 20px;
	box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.keys input[value='space'] {
	width: 60%;
}

.keys input:focus {
	color: #3498db;
	font-size: 19px;
	box-shadow: inset -3px -3px 7px #ffffff73,
		inset 2px 2px 5px rgba(94, 104, 121, 0.288);
}
