* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #eef5fe;
}
.wrapper {
	display: flex;
	column-gap: 25px;
}

.wrapper .dot {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #008ae6;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: animate 1s ease-in-out infinite alternate;
}

.wrapper .dot:nth-child(1) {
	animation-delay: -0.25s;
}
.wrapper .dot:nth-child(2) {
	background: #e60000;
	animation-delay: -0.5s;
}
.wrapper .dot:nth-child(3) {
	background: #ffcc00;
	animation-delay: -0.75s;
}
.wrapper .dot:nth-child(4) {
	background: #008800;
	animation-delay: -1s;
}
@keyframes animate {
	0% {
		transform: translateY(-100px);
	}
	100% {
		transform: translateY(50px);
	}
}
