* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.center {
	/* 수직, 수평 중앙 정렬 */
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center .stars {
	height: 150px;
	width: 600px;
	text-align: center; /* 텍스트 뿐만 아니라 inline 요소들을 가운데 정렬하는 속성 */
}

.stars input {
	display: none;
	/* 라디오 버튼을 안보이게 만들어 놓음, 왜냐면 label과 연결되어 있으니까 안보여도 됨 */
}

.stars label {
	float: right; /* 오른쪽으로 붙이고, 주변 텍스트나 요소들이 빈 공간을 채우게 한다 */
	font-size: 100px;
	color: lightgray;
	margin: 0 5px;
	text-shadow: 1px 1px #bbb;
}
.stars label:before {
	content: '★';
}

/* 라디오 버튼 체크시 label에 적용 */
.stars input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}

/* :not은 괄호 안 조건은 제외하고 나머지 선택한다는 의미 */
/* 이 코드는 마우스를 올린 별 + 그 앞(또는 뒤) 별들까지 금색으로 바꾸라는 의미 */
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
	color: gold;
}

.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label /* hover된 label 뒤에 있는 모든 label들 */ {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}

.stars .result:before {
	content: '';
	/* 수평 중앙 정렬 */
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -30px;
	font-size: 30px;
	font-weight: 500;
	color: gold;
	font-family: 'Poppins', sans-serif;
	display: none;
}

/* 라디오버튼 체크했을 때 문구 변경 */
.stars input:checked ~ .result:before {
	display: block;
}

.stars #five:checked ~ .result:before {
	content: 'I love it 😍';
}

.stars #four:checked ~ .result:before {
	content: 'I like it 😎';
}

.stars #three:checked ~ .result:before {
	content: "It's good 😄";
}

.stars #two:checked ~ .result:before {
	content: "I don't like it 😒";
}

.stars #one:checked ~ .result:before {
	content: 'I hate it 😠';
}
