* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: #f2f2f2;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background: #fff;
	width: 1100px;
	height: 600px;
}
.container .content {
	width: 100%;
	height: 100%;
	display: flex;
}
.content .left {
	width: 60%;
	/* background: yellowgreen; */
	margin: 0 120px 0 150px;
	padding-top: 50px;
}
.content .left h1 {
	font-size: 60px;
	/* background: red; */
	margin-bottom: 20px;
}
.content .left p {
	letter-spacing: 2px;
	width: 75%;
	margin-bottom: 20px;
}
.content .left .inputBox {
	/* background: turquoise; */
	padding: 20px 15px;
	margin-bottom: 15px;
}
.content .left .inputBox input {
	width: 50%;
	border: none;
	outline: none;
	background: transparent;
	border-bottom: 1px solid #ccc;
}
.content .left .btnBox {
	/* background: tomato; */
	padding: 0 15px;
}
.content .left .btnBox input {
	width: 50%;
	border: none;
	outline: none;
	background: #1e1e20;
	padding: 15px 10px;
	color: #fff;
	letter-spacing: 10px;
}
.content .right {
	position: relative;
	width: 20%;
	background: #ffde3e;
	display: flex;
	align-items: end;
}

.content .right .info {
	position: absolute;
	background: #1e1e20;
	color: #fff;
	width: 420px;
	height: 420px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.right .info .title {
	font-size: 42px;
	font-weight: 500;
}
.right .info .detail {
	/* background: violet; */
	display: flex;
}

.right .info .detail i {
	/* background: turquoise; */
	margin-right: 30px;
	line-height: 25px;
	font-size: 32px;
}
.right .info .detail .text {
	line-height: 25px;
	/* background: red; */
}

.content .right .social {
	width: 100%;
	/* background: violet; */
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 36px;
}
