* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	height: 100vh;
	width: 100%;
	background: #2f2723;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	max-width: 1050px;
	width: 100%;
	background: #83b57b;
	border-radius: 12px;
	margin: 0 20px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content .image-box {
	padding: 25px 20px;
	width: 55%;
	background: #453d39;
}
.content .image-box img {
	width: 100%;
}
.content form {
	width: 40%;
	margin-right: 30px;
}
.content .input-box {
	width: 100%;
	height: 50px;
	margin: 16px 0;
	position: relative;
}
.content .input-box input {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	padding-left: 16px;
	outline: none;
	border: 2px solid #2f2723;
	font-size: 16px;
	background: transparent;
}
.content .input-box input:focus,
.content .input-box input:valid {
	border-color: #453d39;
}
.content .input-box label {
	position: absolute;
	left: 18px;
	top: 50%;
	font-size: 15px;
	transform: translateY(-50%);
	color: #2f2723;
	pointer-events: none;
	transition: all 0.3s ease;
}
.content .input-box input:focus ~ label,
.content .input-box input:valid ~ label {
	top: 0;
	left: 12px;
	font-size: 14px;
	color: #453d39;
	background: #83b57b;
}
.content .message-box {
	min-height: 100px;
	position: relative;
}
.content .message-box textarea {
	position: absolute;
	height: 100%;
	width: 100%;
	resize: none;
	border-radius: 6px;
	padding-top: 10px;
	padding-left: 16px;
	outline: none;
	background: transparent;
	border: 2px solid #2f2723;
}
.content .message-box textarea:focus,
.content .message-box textarea:valid {
	border-color: #453d39;
}
.content .message-box label {
	position: absolute;
	left: 18px;
	top: 50%;
	font-size: 15px;
	transform: translateY(-50%);
	color: #2f2723;
	pointer-events: none;
	transition: all 0.3s ease;
}
.content .message-box textarea:focus ~ label {
	top: 0;
	left: 12px;
	font-size: 14px;
	color: #453d39;
	background: #83b57b;
}
.content .input-box input[type='submit'] {
	background-color: #2f2723;
	color: #fff;
	padding-left: 0;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	letter-spacing: 1px;
	transition: all 0.3s ease;
}
.content .input-box input[type='submit']:hover {
	background: #453d39;
}
@media (max-width: 900px) {
	.content .image-box {
		display: none;
	}
	.content form {
		width: 100%;
		margin: 30px;
	}
}
