* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #634cff;
}
.conatiner {
	width: 960px;
	height: 600px;
	display: flex;
}
.left {
	width: 420px;
	background: #7065ff;
	border-radius: 25px 0 0 25px;
	padding: 60px 40px;
}
.left .logo {
	/* background: red; */
	display: flex;
}
.left .logo img {
	width: 50px;
	height: 50px;
	margin-right: 15px;
}
.left .logo span {
	font-size: 22px;
	line-height: 50px;
}
.left .content {
	/* background: yellow; */
	text-align: center;
	padding: 50px 0;
}
.left .content h1 {
	padding: 15px 0;
}
.left .content p {
	font-size: 16px;
	font-weight: 550;
}
.left .account {
	/* background: pink; */
	text-align: center;
	padding: 50px 0 30px 0;
}

.left .account a {
	opacity: 0.4;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}
.left .left_btn {
	/* background: yellowgreen; */
	text-align: center;
}
.left .left_btn .signup {
	border-radius: 25px;
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	padding: 15px 40px;
	font-size: 16px;
	transition: all 0.3s ease;
}
.left .left_btn .signup:hover {
	color: #7065ff;
	border: none;
	background: #fff;
}
.right {
	width: 540px;
	background: #fff;
	border-radius: 0 25px 25px 0;
	padding: 60px 40px;
}
.right .header {
	/* background: turquoise; */
	margin-bottom: 30px;
}
.right .header h1 {
	font-size: 22px;
	font-weight: 550;
	color: #7065ff;
}
.right form {
	position: relative;
	/* background-color: red; */
}

.right form .email,
.right form .pass {
	position: relative;
}
.right form .email input,
.right form .pass input {
	border: 1px solid #7065ff;
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 15px;
	outline: none;
	transition: all 0.3s ease;
}
.right form .email label,
.right form .pass label {
	position: absolute;
	top: 30%;
	left: 20px;
	font-size: 17px;
	color: #999;
	transform: translateY(-30%);
	pointer-events: none;
	transition: all 0.3s ease;
}
.right form .email input:focus,
.right form .pass input:focus {
	border: 2px solid plum;
	outline: none;
	color: #7065ff;
	font-size: 17px;
}
.right form .email input:focus ~ label,
.right form .email input:valid ~ label,
.right form .pass input:focus ~ label,
.right form .pass input:valid ~ label {
	top: 0%;
	color: #4158d0;
	background: #fff;
	font-size: 16px;
	transform: translateY(-50%);
}
.right form .check {
	position: relative;
	top: -15px;
	/* background: red; */
	font-size: 14px;
}
.right form .check input {
	margin-right: 3px;
}
.right form .check a {
	position: absolute;
	right: 0;
	text-decoration: none;
	color: orange;
}
.right form .right_btn {
	margin-top: 30px;
	/* background: yellow; */
	text-align: center;
}
.right form .right_btn .signin {
	width: 100%;
	border-radius: 25px;
	color: #fff;
	border: none;
	background: #7065ff;
	padding: 15px;
	font-size: 16px;
	transition: all 0.3s ease;
}
.right form .right_btn .signin:hover {
	color: #7065ff;
	border: 2px solid #7065ff;
	background: transparent;
}
.right form .social {
	text-align: center;
}
.right form .social p {
	margin: 40px 0;
	color: #ccc;
	font-size: 16px;
}
.right form .social .icon {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
	/* background: wheat; */
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}
.right form .social .icon i {
	font-size: 32px;
	color: #7065ff;
}
