* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background: #0984e3;
}
.main-box {
	/* position을 이용한 요소의 수직 수평 중앙 정렬 */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.main-box label {
	position: relative;
	background: #fff;
	/* 요소의 높이와 글자의 높이를 동일하게 지정하면, 텍스트가 수직 중앙 정렬된다.  */
	height: 50px;
	line-height: 50px;
	width: 150px;
	border-radius: 35px;
	display: block;
	text-align: center;
	font-size: 22px;
	font-weight: 500;
	text-transform: uppercase;
	color: #0984e3;
	cursor: pointer;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease;
	position: relative;
}
.main-box label::before {
	content: 'Cancel';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background: #fff;
	border-radius: 35px;
	opacity: 0;
	pointer-events: none;
}
.main-box label:hover {
	letter-spacing: 1px;
}
#check {
	display: none;
}
#check:checked ~ label::before {
	opacity: 1;
	pointer-events: auto;
}
.icons {
	position: absolute;
	top: -120px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	height: 100%;
	width: 140%;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 35px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}
/* 아래에 삼각형 모양 붙이기 */
.icons::before {
	position: absolute;
	content: '';
	height: 18px;
	width: 18px;
	background: #fff;
	bottom: -9px;
	transform: rotate(45deg);
}
#check:checked ~ .icons {
	opacity: 1;
	pointer-events: auto;
	top: -84px;
}
.icons a {
	font-size: 22px;
	color: #0984e3;
	transition: all 0.3s ease;
}
.icons a:hover {
	transform: translateY(-2px);
}
.icons a:nth-child(1):hover {
	color: #436782;
}
.icons a:nth-child(2):hover {
	color: #1da1f2;
}
.icons a:nth-child(3):hover {
	color: #e1306c;
}
.icons a:nth-child(4):hover {
	color: #ff0000;
}
