* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
body {
	background: #f7f8fc;
}
footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
}
footer .content,
footer .bottom {
	max-width: 1350px;
	margin: auto;
	padding: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
footer .content .box .title {
	margin-bottom: 20px;
	color: #444;
	font-size: 15px;
	font-weight: 600;
}
footer .content .box li {
	margin-bottom: 10px;
}
footer .content .box a {
	color: #999;
	font-size: 13px;
	font-weight: 400;
}
footer .content .first a {
	font-size: 24px;
	font-weight: 600;
	color: #000;
}
footer .content .first i {
	margin-right: 10px;
	color: #000;
	font-size: 25px;
	font-weight: 600;
}
footer .bottom .box ul {
	display: flex;
	justify-content: space-between;
}
footer .bottom .box li {
	margin-right: 50px;
}
footer .bottom .box p,
footer .bottom .box li a {
	color: #999;
	font-size: 14px;
	font-weight: 500;
}
