* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Black Han Sans', sans-serif;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, #ffcfef, #0a97b0);
}

.container {
	width: 600px;
	height: 800px;
	background-color: #fef5ec;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 0.3s ease;
	transform-style: preserve-3d;
}

.container:hover {
	transform: rotateY(180deg);
}

.container .card {
	backface-visibility: hidden;
}

/* front */
.front {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.front .title {
	text-align: left;
	font-size: 100px;
	letter-spacing: -8px;
	font-weight: normal;
	margin: 30px;
}
.title .item {
	display: inline-block;
	padding: 15px;
	height: 140px;
	line-height: 130px;
	margin-bottom: 15px;
}

.title .title-item1 {
	background-color: #fed201;
	color: #fe4b09;
	margin-right: 15px;
}
.title .title-item2 {
	background-color: #005adb;
	color: #ffb1db;
}
.title .title-item3 {
	background-color: #00903b;
	color: #fdd100;
	transform: skewY(2deg);
}
.title .title-item4 {
	background-color: #fc4302;
	color: #0154d9;
}
.title .title-item5 {
	background-color: #fdadde;
	color: #00903b;
	margin-right: 15px;
}
.title .title-item6 {
	position: relative;
	background-color: #fdd100;
	color: #0057dc;
	top: 10px;
	letter-spacing: 3px;
}
/* back */
.back {
	display: flex;
	justify-content: center;
	align-items: center;
}

.back .list {
	list-style: none;
}

.list .item {
	margin-bottom: 30px;
}

.list .item p {
	font-size: 35px;
}

.item .sub-title1 {
	background-color: #fed201;
	color: #fe4b09;
}

.item .sub-title2 {
	background-color: #005adb;
	color: #ffb1db;
}
.item .sub-title3 {
	background-color: #00903b;
	color: #fdd100;
}
.item .sub-title4 {
	background-color: #fc4302;
	color: #0154d9;
}
.item .sub-title5 {
	background-color: #fdadde;
	color: #00903b;
}
.item .sub {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
}
