* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Black Han Sans', sans-serif;
}

section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, #ffcfef, #0a97b0);
	/* 회전할 때 원근감 설정 */
	perspective: 1000px;
}

.container {
	width: 600px;
	height: 700px;
	background-color: #fef5ec;
	border-radius: 25px;
	/* 회전 효과 */
	transition: transform 0.8s ease;
	transform-style: preserve-3d;
}

.container:hover {
	/* 마우스 오버 했을 때 Y축 기준으로 180도 회전 */
	transform: rotateY(180deg);
}

.container .card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* container의 width와 height를 상속 */
	height: 100%;
	width: 100%;
	/* .card 클래스의 뒷면이 안 보이도록 설정 */
	backface-visibility: hidden;
}

/* front */
.front {
	/*flex로 중앙 정렬 안되길래 position 써서 했음 */
	/* 다시 공부 해서 flex로 중앙 정렬 할 수 있도록 바꿔보기 */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.front .title {
	text-align: left;
	font-size: 100px;
	letter-spacing: -8px;
	font-weight: normal;
	margin: 30px;
}
.title .item {
	/* .item이 span이라 인라인 요소라서 height, width 가 적용안되서 인라인 블록으로 변경  */
	/* 참고로 인라인은 패딩, 마진 적용되는데 좌우만 가능, 위 아래는 불가 */
	display: inline-block;
	padding: 15px;
	height: 140px;
	line-height: 130px;
	margin-bottom: 15px;
}

.title .title-item1 {
	background-color: #fed201;
	color: #fe4b09;
	margin-right: 15px;
}
.title .title-item2 {
	background-color: #005adb;
	color: #ffb1db;
}
.title .title-item3 {
	background-color: #00903b;
	color: #fdd100;
	transform: skewY(2deg);
}
.title .title-item4 {
	background-color: #fc4302;
	color: #0154d9;
}
.title .title-item5 {
	background-color: #fdadde;
	color: #00903b;
	margin-right: 15px;
}
.title .title-item6 {
	position: relative;
	background-color: #fdd100;
	color: #0057dc;
	top: 10px;
	letter-spacing: 3px;
}
/* back */
.back {
	display: flex;
	justify-content: center;
	align-items: center;
	/* 카드가 회전하면서 뒤의 내용도 같이 회전되어야 하니까 transform 동일하게 설정 */
	transform: rotateY(180deg);
}

.back .list {
	list-style: none;
}

.list .item {
	margin-bottom: 30px;
}

.list .item p {
	font-size: 35px;
}

.item .sub-title1 {
	background-color: #fed201;
	color: #fe4b09;
}

.item .sub-title2 {
	background-color: #005adb;
	color: #ffb1db;
}
.item .sub-title3 {
	background-color: #00903b;
	color: #fdd100;
}
.item .sub-title4 {
	background-color: #fc4302;
	color: #0154d9;
}
.item .sub-title5 {
	background-color: #fdadde;
	color: #00903b;
}
.item .sub {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
}
