* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.container {
	width: 100%;
	height: 100vh;
	background: #4285f4;
	display: flex;
	justify-content: center;
	align-items: center;
}
.spinner {
	width: 80px;
	height: 80px;
	border: 7px solid #fff;
	border-top-color: transparent;
	border-radius: 50%;
	animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
	from {
	}
	to {
		transform: rotate(360deg);
	}
}
