* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
html,
body {
	height: 100vh;
	display: grid;
	place-items: center;
	background: #be22de;
}
.main-div {
	width: 365px;
	background: #fff;
	border-radius: 5px;
	padding: 30px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.main-div .title {
	text-align: center;
	font-size: 30px;
	font-weight: 600;
}
.main-div .social-icons {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.social-icons a {
	display: block;
	text-align: center;
	width: 100%;
	height: 45px;
	line-height: 45px;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	transition: all 0.4s linear;
}
.social-icons span {
	font-size: 18px;
	margin-left: 5px;
}
.social-icons a:first-child {
	background: #4267b2;
	margin-right: 5px;
}
.social-icons a:first-child:hover {
	background: #375695;
}

.social-icons a:last-child {
	background: #1da1fe;
	margin-right: 5px;
}
.social-icons a:last-child:hover {
	background: #0d8bd9;
}
form {
	margin-top: 25px;
}
form .input-box {
	background: red;
	margin-top: 15px;
	position: relative;
	width: 100%;
	height: 50px;
}
.input-box input {
	height: 100%;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid lightgray;
	padding-left: 45px;
	font-size: 17px;
	transition: all 0, 0.4s ease;
}
.input-box input:focus {
	border-color: #be22de;
}
.input-box .icon {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	color: grey;
}
form .option-div {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}
.option-div .check-box {
	display: flex;
	align-items: center;
}
.option-div span {
	margin-left: 5px;
	font-size: 16px;
	color: #333;
}
.option-div .forget-div a {
	font-size: 16px;
	color: #be22de;
}
.button input {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding-left: 0;
	border: none;
	background: #be22de;
	cursor: pointer;
	transition: all 0.3s linear;
}
.button input:hover {
	background: #a720c5;
}
form .sign-up {
	text-align: center;
	margin-top: 25px;
}
form .sign-up a {
	color: #be22de;
}
form a {
	text-decoration: none;
}
form a:hover {
	text-decoration: underline;
}
