* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	width: 100%;
	background: #eeeceb;
	font-family: 'Poppins', sans-serif;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #fceb81;
}
footer .content {
	max-width: 1250px;
	margin: auto;
	padding: 30px 40px 40px 40px;
}
footer .content .top {
	font-family: 'Merriweather', serif;
	text-align: center;
	font-size: 42px;
	font-weight: 400;
	color: #265bf5;
	margin-bottom: 15px;
}
footer .content .link-boxes {
	width: 100%;
	display: flex;
	gap: 10px;
	justify-content: space-between;
}
.content .link-boxes .logo-details {
	width: 25px;
	height: 25px;
	object-position: center;
	object-fit: contain;
}
.link-boxes .logo-details img {
	width: 100%;
}
.content .link-boxes .box {
	width: calc(100% / 5 - 20px);
}
.content .link-boxes .box .link_name {
	font-size: 20px;
	font-weight: 500;
	color: #265bf5;
	letter-spacing: -1px;
	margin-bottom: 10px;
}
.content .link-boxes .box p,
.content .link-boxes .box li,
.content .link-boxes .box li a {
	color: #265bf5;
	font-size: 16px;
	letter-spacing: -1px;
}
.content .link-boxes .box li {
	list-style: none;
	margin: 8px 0;
}
.content .link-boxes .box li a {
	text-decoration: none;
}

footer .bottom-details {
	position: relative;
	width: 100%;
}
footer .bottom-details::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 3px;
	width: 100%;
	background: linear-gradient(90deg, transparent 50%, #265bf5 50%);
	background-size: 10px 70%; /* 물결의 주기 조정 */
	background-repeat: repeat-x; /* 수평 반복 */
}
footer .bottom-details .bottom_text {
	max-width: 1250px;
	margin: auto;
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -1px;
	color: #265bf5;
	text-decoration: none;
}
.bottom-details .bottom_text .policy_terms a {
	margin-right: 10px;
}
.bottom-details .bottom_text .social {
	margin-left: -220px;
}
.bottom-details .bottom_text .social a {
	font-size: 20px;
	margin-right: 10px;
}
.bottom-details .bottom_text .img-box {
	width: 80px;
	height: 80px;
}
.bottom-details .bottom_text .img-box img {
	width: 100%;
}
