* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
}
body {
	min-height: 100vh;
	width: 100%;
	background: #eeeceb;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #fceb81;
}
footer .content {
	max-width: 1250px;
	margin: auto;
	padding: 30px 40px 40px 40px;
}
footer .content .top {
	text-align: center;
	font-size: 42px;
	font-weight: 400;
	color: #265bf5;
	margin-bottom: 15px;
}
footer .content .link-boxes {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #265bf5;
}
.content .link-boxes .logo-details {
	width: 120px;
	height: 120px;
	background: url('img/logo.png') no-repeat left/100px 100px;
}
.content .link-boxes .box {
	width: calc(100% / 5 - 10px);
}
.content .link-boxes .box:nth-child(1),
.content .link-boxes .box:nth-child(2),
.content .link-boxes .box:nth-child(3),
.content .link-boxes .box:nth-child(4),
.content .link-boxes .box:nth-child(5) {
	flex: 0 0 150px;
	/* flex-grow: 1; */
}
.content .link-boxes .box:nth-child(5) {
	flex-basis: 200px;
}
.content .link-boxes .box:nth-child(6) {
	flex-basis: 250px;
}
.content .link-boxes .box .link_name {
	font-size: 18px;
	font-weight: bold;
	color: #265bf5;
	margin-bottom: 10px;
}
.content .link-boxes .box li {
	list-style: none;
}
.content .link-boxes .box li a {
	text-decoration: none;
	color: #265bf5;
}
.content .link-boxes .input-box {
	position: relative;
}
.content .link-boxes .input-box li:first-child {
	margin-bottom: 10px;
}
.content .link-boxes .input-box input {
	width: 100%;
	background: transparent;
	outline: none;
	border: 1.5px solid #265bf5;
	padding: 10px;
}
.content .link-boxes .input-box input::placeholder {
	color: #265bf5;
	font-size: 16px;
}
.content .link-boxes .input-box a {
	position: absolute;
	right: 10px;
	top: 90%;
	transform: translateY(-90%);
}
footer .bottom-details {
	max-width: 1250px;
	margin: auto;
	padding: 30px 40px 20px 40px;
}
footer .bottom-details::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	background: #265bf5;
}
footer .bottom-details .bottom_text {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	position: relative;
}
.bottom_text .policy_terms a {
	text-decoration: none;
	margin-right: 20px;
	color: #265bf5;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: -1px;
}
.bottom_text .social {
	flex-basis: 580px;
}
.bottom_text .social a {
	color: #265bf5;
	font-size: 20px;
	margin-right: 20px;
}
.bottom-details .bottom_text .img-box {
	width: 120px;
	height: 120px;
	background: url('img/person.png') no-repeat right/100px 100px;
	position: absolute;
	right: 0;
	top: -100px;
}
