* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	width: 100%;
	background: #eeeceb;
	font-family: 'Poppins', sans-serif;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #fceb81;
}
footer .content {
	max-width: 1250px;
	margin: auto;
	padding: 30px 40px 40px 40px;
	letter-spacing: -1px;
}
footer .content .top {
	font-family: 'Merriweather', serif;
	text-align: center;
	font-size: 42px;
	font-weight: 400;
	color: #265bf5;
	margin-bottom: 15px;
}
footer .content .link-boxes {
	width: 100%;
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: top;
}
.content .link-boxes .logo-details {
	width: 120px;
	height: 120px;
	background: url('img/logo.png') no-repeat left/120px 120px;
	margin-right: 30px;
}
.content .link-boxes .box {
	width: calc(100% / 5 - 20px);
	color: #265bf5;
}
.content .link-boxes .box:nth-child(1),
.content .link-boxes .box:nth-child(2),
.content .link-boxes .box:nth-child(3),
.content .link-boxes .box:nth-child(4),
.content .link-boxes .box:nth-child(5) {
	flex: 0 0 150px;
}
.content .link-boxes .box:nth-child(5) {
	flex-basis: 200px;
}
.content .link-boxes .box:nth-child(6) {
	flex-basis: 250px;
}
.content .link-boxes .box .link_name {
	font-size: 18px;
	color: #fff;
}
.content .link-boxes .box li {
	list-style: none;
}
.content .link-boxes .box .link_name {
	color: #265bf5;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 10px;
}
.content .link-boxes .box li a {
	text-decoration: none;
	color: #265bf5;
}
.content .link-boxes .input-box {
	position: relative;
}
.content .link-boxes .input-box li:first-child {
	margin-bottom: 10px;
}
.content .link-boxes .input-box input {
	width: 100%;
	background: transparent;
	outline: none;
	border: 1.5px solid #265bf5;
	padding: 10px;
}
.content .link-boxes .input-box input::placeholder {
	color: #265bf5;
	font-size: 16px;
}
.content .link-boxes .input-box a {
	position: absolute;
	right: 10px;
	top: 55%;
	transform: translateY(-55%);
}
footer .bottom-details {
	position: relative;
	width: 100%;
	max-width: 1250px;
	margin: auto;
	padding: 30px 40px 20px 40px;
}
footer .bottom-details::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	background: #265bf5;
}
footer .bottom-details .bottom_text {
	max-width: 1250px;
	margin: auto;
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
	font-size: 14px;
	font-weight: 500;
	color: #265bf5;
	text-decoration: none;
}
.bottom-details .bottom_text .policy_terms a {
	margin-right: 10px;
}
.bottom-details .bottom_text .social {
	margin-left: -220px;
}
.bottom-details .bottom_text .social a {
	font-size: 20px;
	margin-right: 10px;
}
.bottom-details .bottom_text .img-box {
	width: 80px;
	height: 80px;
}
.bottom-details .bottom_text .img-box img {
	width: 100%;
}
footer .bottom-details .bottom_text {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	position: relative;
}
.bottom_text .policy_terms a {
	text-decoration: none;
	margin-right: 20px;
	color: #265bf5;
	font-size: 15px;
	font-weight: 600;
}
.bottom_text .social {
	flex-basis: 580px;
}
.bottom_text .social a {
	color: #265bf5;
	font-size: 20px;
	margin-right: 20px;
}
.bottom-details .bottom_text .img-box {
	width: 120px;
	height: 120px;
	background: url('img/person.png') no-repeat right/100px 100px;
	position: absolute;
	right: 0;
	top: -100px;
}
