* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background: #3498db;
}
.main-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 550px;
	width: 400px;
	background: red;
	text-align: center;
}
.main-box .content {
	position: relative;
	width: 100%;
	height: 100%;
	background: grey;
}
.content .box {
	position: absolute;
	height: 50px;
	width: 100%;
	background: red;
	left: 0;
	bottom: 0;
	border-radius: 25px;
	cursor: pointer;
}

.content .box .share,
.cancel {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	line-height: 50px;
	font-size: 20px;
	font-weight: 600;
	color: #2980b9;
	background: #fff;
	letter-spacing: 1px;
	border-radius: 25px;
	opacity: 0;
	transition: all 0.3s ease;
}
.content .box .share {
	opacity: 1;
}
#check:checked ~ .box .share {
	opacity: 0;
}
#check {
	display: none;
}
.content .image-box {
	position: absolute;
	height: 450px;
	width: 100%;
	border-radius: 25px;
	background: #fff;
	padding: 10px;
	left: 0;
	bottom: 130px;
	transition: all 0.3s ease;
}
.image-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 25px;
}
